.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
  }
  
  .popup {
    position: relative;
    background-color: #fff;
    padding: 20px;
    max-width: 80%;
    max-height: 80%;
    overflow: hidden; 
  }
  
  .popup-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; 
  }
  
  .popup-content img {
    width: 500px;
    height: 300px;
    object-fit: cover;
  }
  
  .text-container {
    text-align: center;
  }
  
  .popup .arrow-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .arrow {
    font-size: 30px;
    color: #000;
    background-color: transparent;
    border: none;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .arrow:hover {
    background-color: #f2f2f2;
  }

  .previous-arrow {
    left: 10px;
  }
  
  .next-arrow {
    right: 10px;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: #000;
    background-color: transparent;
    border: none;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .close-button:hover {
    background-color: #f2f2f2;
  }
  